.Core/bin/
WebApi/bin/Debug/netcoreapp2.2/core.pdb
WebApi/obj/Debug/netcoreapp2.2/WebApi.pdb
WebApi/obj/Debug/netcoreapp2.2/WebApi.dll
WebApi/obj/Debug/netcoreapp2.2/WebApi.csprojAssemblyReference.cache
WebApi/bin/Debug/netcoreapp2.2/WebApi.pdb
WebApi/bin/Debug/netcoreapp2.2/WebApi.dll
WebApi/bin/Debug/netcoreapp2.2/core.dll
WebApi/bin/Debug/netcoreapp2.2/core.abstractions.pdb
WebApi/bin/Debug/netcoreapp2.2/core.abstractions.dll
Model/obj/Debug/netstandard2.0/Model.csprojAssemblyReference.cache
Core.Abstractions/obj/Debug/netstandard2.0/core.abstractions.pdb
Core.Abstractions/obj/Debug/netstandard2.0/core.abstractions.dll
Core.Abstractions/obj/Debug/netstandard2.0/core.abstractions.csprojAssemblyReference.cache
Core.Abstractions/bin/Debug/netstandard2.0/core.abstractions.pdb
Core.Abstractions/bin/Debug/netstandard2.0/core.abstractions.dll
Core/obj/Debug/netstandard2.0/core.pdb
Core/obj/Debug/netstandard2.0/core.dll
Core/obj/Debug/netstandard2.0/core.csprojAssemblyReference.cache
Core/bin/Debug/netstandard2.0/core.pdb
Core/bin/Debug/netstandard2.0/core.dll
Core/bin/Debug/netstandard2.0/core.abstractions.pdb
Core/bin/Debug/netstandard2.0/core.abstractions.dll